# Dependencias
node_modules/

# Build de producción
dist/
build/

# Variables de entorno (¡MUY IMPORTANTE NO SUBIR ESTO!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# Sistema Operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp